*{
    padding:0;
    margin:0;
}

.header{  
    margin: 0px ;
    height:auto;
    position: sticky;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    top:0;
    left:0;
list-style-type: none;
    background-color: #bca2cb;
    width: 100%;
box-sizing: border-box;
margin: 0;
padding: 40;

z-index: 1000;
}


  
    



.logo{}

.header h1{}

.navigation{
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    
   text-align: center;
    padding: 10px 70px;  
    z-index:1000;
  
    
}
.navigation ul{
    margin:0;
    padding:0;
    
}
.navigation li{
    margin:0 10px;
    display: inline;
}
.hero {
    background-image: url('/istockphoto-1448678415-612x612-removebg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height:60vh;
    width:100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction:column;
    position: relative;
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}
.hero h2{
    padding-bottom: 15px;
    color: goldenrod;
}
.hero h3{
    padding-bottom: 15px;
    
}
.hero p{

}
.hero button{
    cursor:pointer;
    padding: 10px 20px;
    border: solid 1px black;
    background-color: silver    ;
    color: #000;
    font-size: 1rem;
    font-weight: 600;

}
.hero button:hover{
    color: #fff;
    background-color: black;
}
.offer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #C2D9D1;
    flex-direction: column;
}

.product1{
    text-align: center;
    position: relative;
    
    
    

}
.product1 .procontainer{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
    margin: 0 20px;
}

.product1 .content1{
    width: 20%;
    height:65%;
    padding: 10px 30px;
    color: #000;
    border: 0.5px solid black;
    box-shadow: 0px 0px 10px 0px;
    margin: 10px;
    transition: 20px ease-in-out;
    background-color: #a07a7f;
    
}
.product1 img{
    
    width:26%;
    
    padding:8x 30px;
    
    border-radius: 20px;
    justify-items: left;
}
.product1 :hover{
    background-color: #f0f0f0;
    color: #000;
}

.product1 .content1{
    text-align: start;
    padding: 8px;;
}
.product1 .brand{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 0;
    color:goldenrod;    
}
.product1 .description1 p{
    font-size: 1rem;
    padding: 5px 0;
    color:aquamarine;
}
.product1 .description2 p{
    font-size: 1rem;
    padding: 5px 0;
    color:aquamarine;
}
.product1 .brand2{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 0;
    color:goldenrod;    
}
.product1 .content2{
    background-color: #a07a7f;
    text-align: start;
    padding: 8px;
    width: 15%;
    height:55%;
    padding: 10px 30px;
    color: #000;
    border: 0.5px solid black;
    box-shadow: 0px 0px 10px 0px;
    margin: 10px;
    transition: 20px ease-in-out;
}
.product1 :hover{
    background-color: #f0f0f0;
    color: #000;
}
.product1 img{
    
    width:26%;
    
    padding:8x 30px;
    
    border-radius: 20px;
    justify-items: left;
}

.product1 info{
    background-color: #a07a7f;
}
.product1 .content3{
    width: 20%;
    height:65%;
    padding: 10px 30px;
    color: #000;
    border: 0.5px solid black;
    box-shadow: 0px 0px 10px 0px;
    margin: 10px;
    transition: 20px ease-in-out;
    
}
.product1 img{
    
    width:26%;
    
    padding:8x 30px;
    
    border-radius: 20px;
    justify-items: left;
}
.product1 :hover{
    background-color: #f0f0f0;
    color: #000;
}

.product1 .content3{
    background-color: #a07a7f;
    text-align: start;
    padding: 8px;;
}
.product1 .brand3{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 0;
    color:goldenrod;    
}
.product1 .description3 p{
    font-size: 1rem;
    padding: 5px 0;
    color:aquamarine;
}
.newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: silver;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 50px;
    margin-left: 0;
    width: 100%;
box-sizing: border-box;
margin: 0;
padding: 40px;

}
.newsletter h4{
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
}
.newsletter input{
    padding: 0 5px;
    font-size: 20px;
    width:100%;
    border: 0.5px solid black;
    outline:none;
    border-radius: 3px;
}
.newsletter .signup{
    background-color: aqua;
    color:black;
    white-space: nowrap;
}
.newsletter .form
{
    display: flex;
    width: 30%;
}
.footer{
    margin:0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    
    color: black;
    width: 100%;
box-sizing: border-box;
margin: 0;
padding: 0;


   
}
.product1 .description5 p{
    font-size: 1rem;
    padding: 5px 0;
    color:aquamarine;
}
.product1 .brand5{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 0;
    color:goldenrod;    
}
.product1 .content5{
    background-color: #a07a7f;
    text-align: start;
    padding: 8px;
    width: 15%;
    height:55%;
    padding: 10px 30px;
    color: #000;
    border: 0.5px solid black;
    box-shadow: 0px 0px 10px 0px;
    margin: 10px;
    transition: 20px ease-in-out;
}
.product1 :hover{
    background-color: #f0f0f0;
    color: #000;
}
.product1 img{
    
    width:26%;
    
    padding:8x 30px;
    
    border-radius: 20px;
    justify-items: left;
}.product1 .description4 p{
    font-size: 1rem;
    padding: 5px 0;
    color:aquamarine;
}
.product1 .brand4{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 0;
    color:goldenrod;    
}
.product1 .content4{
    background-color: #a07a7f;
    text-align: start;
    padding: 8px;
    width: 15%;
    height:55%;
    padding: 10px 30px;
    color: #000;
    border: 0.5px solid black;
    box-shadow: 0px 0px 10px 0px;
    margin: 10px;
    transition: 20px ease-in-out;
}
.product1 :hover{
    background-color: #f0f0f0;
    color: #000;
}
.product1 img{
    
    width:26%;
    
    padding:8x 30px;
    
    border-radius: 20px;
    justify-items: left;
}

   
    @media (max-width: 799px) {
        .navigation {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            position: fixed;
            top: 0;
            right: 0;
            width: 200px;
            background: white;
            box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
        }
    
        .navigation.active {
            display: flex;
        }
    
        .menu-toggle {
            display: block;
            cursor: pointer;
        }
    }